* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.container {
  width: 90%;
}

/* Navbar */
nav {
  background: rgba(128, 128, 128, 0.331);
  padding: 15px 0;
  justify-content: space-between;
}

.logo h4 {
  color: red;
  font-size: 24px;
}

nav ul {
  gap: 20px;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav button {
  background-color: aliceblue;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
