* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Navbar */
nav {
  background: #fceef1;
  padding: 15px 0;
  justify-content: space-between;
}

.logo h4 {
  color: red;
  font-size: 24px;
}

nav ul {
  gap: 20px;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav button {
  background-color: aliceblue;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Hero Area */

.hero {
  background: #fceef1;
  height: 100vh;
}

.hero-wrapper {
  justify-content: space-between;
  align-items: center;
}

.hero-left {
  width: 50%;
}

.hero-right {
  width: 50%;
}

.hero-left h2 {
  font-size: 70px;
  font-weight: bold;
}

.hero-left p {
  font-size: 18px;
  margin: 20px 0px;
  color: rgb(110, 110, 110);
}

.hero-left button {
  background-color: #e55473;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
}

/* Hero Section End */
